<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>KUADRA | Iniciar sesión</title>

    <link rel="stylesheet" href="/static/auth.css" />
</head>

<body>
    <div class="auth-wrap">
        <div class="auth-card">

            <div class="login-brand">
                <img src="/static/logo.svg" alt="KUADRA">
            </div>

            <div class="login-title">Iniciar sesión</div>

            {% if error %}
            <div class="err">{{ error }}</div>
            {% endif %}

            <form method="post">
                <div class="field">
                    <label>Correo</label>
                    <input type="email" name="email" placeholder="correo@ejemplo.com" required>
                </div>

                <div class="field">
                    <label>Contraseña</label>
                    <input type="password" name="password" placeholder="••••••••" maxlength="64" required>
                </div>

                <button class="btn" type="submit">Ingresar</button>

                <div class="help">
                    ¿Problemas con tu clave? <a href="/auth/recuperar">Recuperar clave</a>
                </div>
                <div class="help">
                    ¿No tienes cuenta? <a href="/auth/register">Crear cuenta</a>
                </div>
            </form>

        </div>
    </div>
</body>

</html>