{% extends "auth/layout_auth.html" %}
{% block content %}
<h2>Iniciar sesión</h2>

{% if error %}
<div class="err">{{ error }}</div>
{% endif %}

<form method="post">
    <div class="field">
        <label>Usuario</label>
        <input name="username" placeholder="karen" required>
    </div>

    <div class="field">
        <label>Contraseña</label>
        <input name="password" type="password" placeholder="••••••••" required>
    </div>

    <button class="btn">Entrar</button>
</form>

<div class="small">
    ¿Primera vez? <a href="/register" style="color:var(--accent)">Crear cuenta</a>
</div>
{% endblock %}